body {
    background-image: url("../images/morocco.png");
}

h1 {
    font-size: 25px;
	text-align: center;
}

#instructions {
    font-size: 16x;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.game {
	text-align: center;
	padding-top: 1em;
    padding-bottom: 1em;
}

.container {
    background-color: white;
}