h1 {
    font-size: 25px;
	text-align: center;
}

#instructions {
    font-size: 16x;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
.game {
	background-color: pink;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}